.container {
    /* max-width: 600px; */
    padding-top: 20px;
    color: white;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label, input, select {
    display: block;
    margin-bottom: 10px;
  }
  
  #button-addProduct {
    margin: 2.5rem;
    background-color: rgb(90, 227, 251);
  }
  
  #productForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .divForm{
    margin: 10px;
  }